
<app-toolbar></app-toolbar>
<app-trend-tool-bar></app-trend-tool-bar>
<div class="chartBorder">
  <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>

