<app-toolbar></app-toolbar>
<div class="container">
    <h1 style="color:rgb(225, 53, 118 ); font-style: italic;">ADD GRAD</h1>
    <hr>
    <br>
    <form class="form-horizontal" [formGroup]="gradFormGroup" (ngSubmit)="onSubmit()" ngNativeValidate>
    <label class="col-sm-12" style="color:rgb(79, 92, 180)">GRAD DETAILS:</label>
     <br>
        <div class="form-group">
            <label class="control-label col-sm-4">Grad First Name :</label>
            <div class="col-sm-3">
                <input type="text" formControlName="gradFirstName" [ngClass]="{ 'is-invalid': submitted && f.gradFirstName.errors }" class="form-control" pattern="^[A-Za-z]+$" [(ngModel)]="grad.gradFirstName" placeholder="firstName"
                    name="firstName" required />
            <div *ngIf="submitted && f.gradFirstName.errors" class="invalid-feedback">
                <div *ngIf="f.gradFirstName.errors.required">first Name is required</div>
            </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Grad Middle Name:</label>
            <div class="col-sm-3">
                <input type="text" formControlName="gradMiddleName" [ngClass]="{ 'is-invalid': submitted && f.gradMiddleName.errors }" class="form-control" pattern="^[A-Za-z]+$" [(ngModel)]="grad.gradMiddleName" placeholder="middleName"  name="middleName" required />
            <div *ngIf="submitted && f.gradMiddleName.errors" class="invalid-feedback">
                <div *ngIf="f.gradMiddleName.errors.required">gradMiddleName is required</div>
            </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4"> Grad Last Name </label>
            <div class="col-sm-3">
                <input type="text" formControlName="gradLastName" [ngClass]="{ 'is-invalid': submitted && f.gradLastName.errors }" class="form-control" pattern="^[A-Za-z]+$" [(ngModel)]="grad.gradLastName" placeholder="lastName" name="lastName" required />
             <div *ngIf="submitted && f.gradLastName.errors" class="invalid-feedback">
                <div *ngIf="f.gradLastName.errors.required">gradLastName is required</div>
            </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Gender</label>
            <div class="col-sm-3">
                <input type="text" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" class="form-control" pattern="^[A-Za-z]+$"  [(ngModel)]="grad.gender" placeholder="female" required name="gender" />
           <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                <div *ngIf="f.gender.errors.required">gender is required</div>
           </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Email</label>
            <div class="col-sm-3">
                <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control"pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="grad.email"  placeholder="Email" required name="email" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">email is required</div>
             </div>
            </div>
        </div>
            <div class="form-group">
                <label class="control-label col-sm-4">contact</label>
                <div class="col-sm-3">
                    <input type="text" formControlName="contact" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" class="form-control" pattern="^[7-9][0-9]{9}$" [(ngModel)]="grad.contact" required placeholder="contact" name="contact"/>
                <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                        <div *ngIf="f.contact.errors.required">contact is required</div>
                 </div>
                </div>
            </div>

            <hr>
            <label class="col-sm-12" style="color:rgb(79, 92, 180)">ADDRESS DETAILS:</label>
             <br>
                <div class="form-group">
                <label class="control-label col-sm-4">House_No</label>
                <div class="col-sm-3">
                    <input type="text"formControlName="houseNo" [ngClass]="{ 'is-invalid': submitted && f.houseNo.errors }" class="form-control" pattern="^[A-Za-z0-9]+$" [(ngModel)]="grad.houseNo"  required placeholder="houseNumber" name="houseNumber"/>
                  <div *ngIf="submitted && f.houseNo.errors" class="invalid-feedback">
                        <div *ngIf="f.houseNo.errors.required">houseNo is required</div>
                 </div>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4">Street </label>
                <div class="col-sm-3">
                    <input type="text" formControlName="street" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" class="form-control" pattern="^[A-Za-z0-9]+$" [(ngModel)]="grad.street" required placeholder="street" name="street"/>
                <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                    <div *ngIf="f.street.errors.required">street is required</div>
                </div>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4">City</label>
                <div class="col-sm-3">
                    <input type="text" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" class="form-control" pattern="^[A-Za-z]+$"  [(ngModel)]="grad.city" required placeholder="city" name="city"/>
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">city is required</div>
                </div>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4">State</label>
                <div class="col-sm-3">
                    <input type="text"formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" class="form-control" pattern="^[A-Za-z]+$" [(ngModel)]="grad.state" required placeholder="state" name="state"/>
                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                    <div *ngIf="f.state.errors.required">state is required</div>
                 </div>
               </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4">Zipcode</label>
                <div class="col-sm-3">
                    <input type="text" formControlName="zipcode" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" class="form-control" pattern="^[0-9]{6}$" [(ngModel)]="grad.zipcode" required placeholder="zipcode" name="zipcode"/>
                <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                        <div *ngIf="f.zipcode.errors.required">Zipcode is required</div>
                 </div>
                </div>
            </div>
            <hr>
             <label class="col-sm-12" style="color:rgb(79, 92, 180)">EDUCTAIONAL & QUALIFICATION DETAILS</label>
             <br>
               <div class="form-group">
                <label class="control-label col-sm-4">Degree</label>
                <div class="col-sm-3">
                    <input type="text" formControlName="degree" [ngClass]="{ 'is-invalid': submitted && f.degree.errors }" class="form-control" pattern="^[A-Za-z-.]+$" [(ngModel)]="grad.degree" required placeholder="degree" name="degree"/>
                <div *ngIf="submitted && f.degree.errors" class="invalid-feedback">
                        <div *ngIf="f.degree.errors.required">degree is required</div>
                 </div>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-4">Branch</label>
                <div class="col-sm-3">
                    <input type="text" formControlName="branch" [ngClass]="{ 'is-invalid': submitted && f.branch.errors }" class="form-control" pattern="^[A-Za-z-.]+$" [(ngModel)]="grad.branch" required placeholder="branch" name="branch"/>
                <div *ngIf="submitted && f.branch.errors" class="invalid-feedback">
                        <div *ngIf="f.branch.errors.required">branch is required</div>
                 </div>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-4">Institute</label>
                <div class="col-sm-3">
                    <input type="text" formControlName="institute" [ngClass]="{ 'is-invalid': submitted && f.institute.errors }" class="form-control" pattern="^[A-Za-z-.]+$" [(ngModel)]="grad.institute" required placeholder="institute" name="institiute name"/>
                <div *ngIf="submitted && f.institute.errors" class="invalid-feedback">
                        <div *ngIf="f.institute.errors.required">institute is required</div>
                 </div>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-4">Joining Location</label>
                <div class="col-sm-3">
                    <input type="text" formControlName="joiningLocation" [ngClass]="{ 'is-invalid': submitted && f.joiningLocation.errors }" class="form-control" pattern="^[A-Za-z]+$"  [(ngModel)]="grad.joiningLocation" required placeholder="location" name="location"/>
                <div *ngIf="submitted && f.joiningLocation.errors" class="invalid-feedback">
                        <div *ngIf="f.joiningLocation.errors.required">joiningLocation is required</div>
                 </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">joining Date</label>
                <div class="col-sm-3">
                    <input type="date" formControlName="joiningDate" [ngClass]="{ 'is-invalid': submitted && f.joiningDate.errors }" class="form-control"  [(ngModel)]="grad.joiningDate" required placeholder="date" name="date"/>
                <div *ngIf="submitted && f.joiningDate.errors" class="invalid-feedback">
                        <div *ngIf="f.joiningDate.errors.required">joiningDate is required</div>
                 </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">FeedBack</label>
                <div class="col-sm-3">
                    <input type="text" formControlName="feedback" [ngClass]="{ 'is-invalid': submitted && f.feedback.errors }"  class="form-control" pattern="^[A-Za-z0-9]+$" [(ngModel)]="grad.feedback"  required placeholder="FeedBack" name="feedback"/>
               <div *ngIf="submitted && f.feedback.errors" class="invalid-feedback">
                        <div *ngIf="f.feedback.errors.required">Feedback is required</div>
                 </div>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4">Skills by comma Separated</label>
                <div class="col-sm-3">
                    <input type="text" formControlName="skills" [ngClass]="{ 'is-invalid': submitted && f.skills.errors }" class="form-control" [(ngModel)]="skillList"  required placeholder="java,angular,mysql" name="skills"/>
                <div *ngIf="submitted && f.skills.errors" class="invalid-feedback">
                        <div *ngIf="f.skills.errors.required">skills is required</div>
                 </div>
                </div>
            </div>
         <br>
      <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
      <a mat-flat-button color="primary" [routerLink]="['/gradDetail']"><mat-icon>reply</mat-icon><span>back</span></a> 
    <br />
</form>
</div>