<div class="example-container mat-elevation-z8">
  <div *ngIf="grad">
    <div class="button-row">
      <a mat-flat-button color="primary">
        <mat-icon>list</mat-icon> <span> Grad Detail</span>
      </a>
    </div>
    <mat-card class="example-card">
      <h2>{{grad.gradFirstName}} {{grad.gradLastName}}</h2>
      <hr>
      <mat-card-content>
        <dl>
          <dt>Email Id</dt>
          <dd style="margin:10px;">{{grad.email}}</dd>
          <hr>
          <dt>Gender</dt>
          <dd style="margin:10px;">{{grad.gender}}</dd>
          <hr>
          <dt>contact</dt>
          <dd style="margin:10px;">{{grad.contact}}</dd>
          <hr>
          <dt>Address</dt>
          <dd style="margin:10px;">{{grad.houseNo}}, {{grad.street}}, {{grad.city}}, {{grad.state}}, {{grad.zipcode}}
          </dd>
          <hr>
          <dt>Degree</dt>
          <dd style="margin:10px;">{{grad.degree}}</dd>
          <hr>
          <dt>Branch</dt>
          <dd style="margin:10px;">{{grad.branch}}</dd>
          <hr>
          <dt>Institution</dt>
          <dd style="margin:10px;">{{grad.institute}}</dd>
          <hr>
          <dt>JoiningLocation</dt>
          <dd style="margin:10px;">{{grad.joiningLocation}}</dd>
          <hr>
          <dt>JoiningDate</dt>
          <dd style="margin:10px;">{{grad.joiningDate}}</dd>
          <hr>
          <dt>Skills</dt>
          <dd style="margin:10px;">{{grad.skills}}</dd>
          <hr>
          <dt>Feedback</dt>
          <dd style="margin:10px;">{{grad.feedback}}</dd>
          <hr>
        </dl>
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button color="primary" [routerLink]="['/gradDetail']">
          <mat-icon>reply</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>