<app-toolbar></app-toolbar>
<app-trend-tool-bar></app-trend-tool-bar>
<div class="chartBorder" >
  <canvas baseChart 
    [labels]="pieChartLabels1" 
    [data]="pieChartData1" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>
