canvas{
  width:600px !important;
  height:300px !important;
}
.chartBorder{
  width: 50%;
  margin-left: 20%;
  border-radius: 20px;
  border-color: blue;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
}

