<nav class="navbar navbar-inverse navbar-custom">
    <div class="container-fluid">
        <div class="container-header">
            <a href="#" class="navbar-brand">CANDIDATE MANAGEMENT</a>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="font-weight:bold">MS_CANDIDATE MANAGEMENT</h1><br>
                <p style="font-weight:bold">
                    Make a login using with Accolite Account
                </p><br><br>
                <button class="loginBtn loginBtn--google" (click)="socialSignIn('google')"
                    style="background-size: cover;"><span class="fa fa-google"><img src='assets\download2.jpg'
                            width='200px'></span></button>
                <br />
            </div>
        </div>
    </div>
</div>