.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.7;
    color: #fff;
    background: #000 url("src/assets/login1.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: 1500px 600px;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.jumbotron h2 {margin-top:0;}
.jumbotron {
  text-align:center;  
  position:relative;
  padding-top:50px;
  padding-bottom:500px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}
.container {
		width: 80%;
		margin: 0 auto;
		padding: 20px;
		
	}
  .navbar-custom { 
    background-color: rgb(50, 61, 104);     
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-weight: bold; 
}

.nav.navbar-nav li a {
    color: white;
}

.container-header a {
    font-weight: bold;
}

.nav>li {
    display: inline-block;
}

.nav>ul {
    display: inline-block;
}  

.active {
    color:white;
    font-weight: bold;
}
