<div class="mat-elevation-z8">
    <input matInput>
    <table mat-table [dataSource]="db" matSort>
        <ng-container matColumnDef="gradId">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Grad_Code </th>
            <td mat-cell *matCellDef="let grad"> {{grad.gradId}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Grad_Name </th>
            <td mat-cell *matCellDef="let grad"> {{grad.gradFirstName}}</td>
        </ng-container>
        <ng-container matColumnDef="branch">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Grad_Barnch </th>
            <td mat-cell *matCellDef="let grad"> {{grad.branch}} </td>
        </ng-container>
        <ng-container matColumnDef="institute">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Grad_Institute </th>
            <td mat-cell *matCellDef="let grad"> {{grad.institute}} </td>
        </ng-container>
        <ng-container matColumnDef="joiningDate">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Grad_DOJ </th>
            <td mat-cell *matCellDef="let grad"> {{grad.joiningDate}} </td>
        </ng-container>
        <ng-container matColumnDef="joiningLocation">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Location </th>
            <td mat-cell *matCellDef="let grad"> {{grad.joiningLocation}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="ColunmDef"></tr>
        <tr mat-row *matRowDef="let row; columns:ColunmDef;"></tr>
    </table>
    <br>
    <a mat-flat-button color="primary" [routerLink]="['/gradDetail']">
        <mat-icon>reply</mat-icon><span>back</span>
    </a><br>
    <mat-paginator [pageSizeOptions]="[ 5,10,15]"></mat-paginator>
</div>