<nav class="navbar navbar-inverse navbar-custom">
    <div class="container-fluid">
        <div class="container-header">
            <a href="#" class="navbar-brand">MSPORTAL</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a *ngIf="isUserLoggedIn "  routerLinkActive="active"  [routerLink]="'/gradDetail'" >GRADS</a></li>
                <li><a *ngIf="isUserLoggedIn" routerLinkActive="active" [routerLink]="'/trends'">TRENDS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a *ngIf="isUserLoggedIn" [routerLink]="'/login'">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
