.navbar-custom { 
    background-color: rgb(50, 61, 104);     
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-weight: bold;
}

.nav.navbar-nav li a {
    color: white;
}

.container-header a {
    font-weight: bold;
}

.nav>li {
    display: inline-block;
}

.nav>ul {
    display: inline-block;
}  

.active {
    color:white;
    font-weight: bold;
}
