<app-toolbar></app-toolbar>
<div class="mat-elevation-z8">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="searching($event)" placeholder="Search">
    </mat-form-field>
    <mat-icon>search</mat-icon>
    <table mat-table [dataSource]="db" matSort>

        <ng-container matColumnDef="gradId">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Grad_Code </th>
            <td mat-cell *matCellDef="let grad"> {{grad.gradId}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Grad_Name </th>
            <td mat-cell *matCellDef="let grad"> {{grad.gradFirstName}}</td>
        </ng-container>
        <ng-container matColumnDef="branch">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Grad_Barnch </th>
            <td mat-cell *matCellDef="let grad"> {{grad.branch}} </td>
        </ng-container>
        <ng-container matColumnDef="institute">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Grad_Institute </th>
            <td mat-cell *matCellDef="let grad"> {{grad.institute}} </td>
        </ng-container>
        <ng-container matColumnDef="joiningDate">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Grad_DOJ </th>
            <td mat-cell *matCellDef="let grad"> {{grad.joiningDate}} </td>
        </ng-container>
        <ng-container matColumnDef="joiningLocation">
            <th style="font-weight: bold; color:#ff0000;font-style: italic;" mat-header-cell *matHeaderCellDef
                mat-sort-header> Location </th>
            <td mat-cell *matCellDef="let grad"> {{grad.joiningLocation}} </td>
        </ng-container>
        <ng-container matColumnDef="deleteButton">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let grad" (click)="deleteGrad(grad.gradId)"><img src='assets\delete_icon.png'
                    width='22px'></td>
        </ng-container>

        <ng-container matColumnDef="infoButton">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let grad" [routerLink]="['/detailsGrad', grad.gradId]"><img
                    src='assets\detail.jpg' width='22px'></td>
        </ng-container>
        <ng-container matColumnDef="editButton">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let grad" [routerLink]="['/updateGrad', grad.gradId]"><img
                    src='assets\edit_icon.png' width='20px'></td>
        </ng-container>
        <ng-container matColumnDef="HistoryButton">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let grad" [routerLink]="['/historyGrad', grad.gradId]"><img src='assets\clock.png'
                    width='20px'></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="ColunmDef"></tr>
        <tr mat-row *matRowDef="let row; columns:ColunmDef;"></tr>
    </table>
    <br>
    <button [routerLink]="['/addGrad']" mat-mini-fab color="accent"
        aria-label="Example icon button with a plus one icon">
        <mat-icon>plus_one</mat-icon>
    </button>
    <mat-paginator [pageSizeOptions]="[ 5,10,15]" showFirstLastButtons></mat-paginator>
</div>