<app-toolbar></app-toolbar>
<div class="container">
    <h1 style="color:rgb(225, 53, 118 ); font-style: italic;">UPDATE GRAD</h1>
    <hr>
    <br>
    <form class="form-horizontal"  >
    <label class="col-sm-12" style="color:rgb(79, 92, 180)">GRAD DETAILS:</label>
     <br>
        <div class="form-group">
            <label class="control-label col-sm-4">Grad First Name :</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" [(ngModel)]="grad.gradFirstName" placeholder="firstName"
                    name="firstName" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Grad Middle Name:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" [(ngModel)]="grad.gradMiddleName" placeholder="middleName"  name="middleName" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4"> Grad Last Name </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" [(ngModel)]="grad.gradLastName" placeholder="lastName" name="lastName" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Gender</label>
            <div class="col-sm-3">
                <input type="text" class="form-control"  [(ngModel)]="grad.gender" placeholder="female" required name="gender" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Email</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" [(ngModel)]="grad.email"  placeholder="Email" required name="email" />
            </div>
        </div>
            <div class="form-group">
                <label class="control-label col-sm-4">contact</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="grad.contact" required placeholder="contact" name="contact"/>
                </div>
            </div>

            <hr>
            <label class="col-sm-12" style="color:rgb(79, 92, 180)">ADDRESS DETAILS:</label>
             <br>
                <div class="form-group">
                <label class="control-label col-sm-4">House_No</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="grad.houseNo"  required placeholder="houseNumber" name="houseNumber"/>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4">Street </label>
                <div class="col-sm-3">
                    <input type="text" class="form-control"  [(ngModel)]="grad.street" required placeholder="street" name="street"/>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4">City</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="grad.city" required placeholder="city" name="city"/>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4">State</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="grad.state" required placeholder="state" name="state"/>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4">Zipcode</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" [(ngModel)]="grad.zipcode" required placeholder="zipcode" name="zipcode"/>
                </div>
            </div>
            <hr>
             <label class="col-sm-12" style="color:rgb(79, 92, 180)">EDUCTAIONAL & QUALIFICATION DETAILS</label>
             <br>
               <div class="form-group">
                <label class="control-label col-sm-4">Degree</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="grad.degree" required placeholder="state" name="state"/>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-4">Branch</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="grad.branch" required placeholder="branch" name="branch"/>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-4">Institute</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="grad.institute" required placeholder="branch" name="branch"/>
                </div>
            </div>
             <div class="form-group">
                <label class="control-label col-sm-4">Joining Location</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control"  [(ngModel)]="grad.joiningLocation" required placeholder="location" name="location"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">joining Date</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control"  [(ngModel)]="grad.joiningDate" required placeholder="date" name="date"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">FeedBack</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="grad.feedback"  required placeholder="FeedBack" name="feedback"/>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4">Skills by comma Separated</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="skillList"  required placeholder="java,angular,mysql" name="skills"/>
                </div>
            </div>
        <button type="submit" class="btn btn-success" (click)="submit()" style="margin-top: 1vh;" >
            Submit
        </button> &nbsp;&nbsp; &nbsp;
        <button  class="btn btn-success" (click)="Back()" style="margin-top: 1vh;" >
           Back
        </button> &nbsp;
        
        <br />
</form>

</div>
