
<nav class="navbar navbar-inverse navbar-custom">
    <div class="container-fluid">  
        <div>
            <ul class="nav navbar-nav">
                <li><a style="margin-left:50px" routerLinkActive="active"  [routerLink]="'/trends'" >Location Based</a></li>
                <li><a style="margin-left:300px" routerLinkActive="active"  [routerLink]="'/skillTrend'" >Skill Based</a></li>
                <li><a style="margin-left:400px" routerLinkActive="active" [routerLink]="'/locationYrTrend'">Location_Year Based</a></li>
            </ul>    
        </div>
    </div>
</nav>
