 .navbar-custom { 
     top:-20px;
    background-color: white ;
    border:none;    
}

.nav.navbar-nav.navbar-right li a {
    color: blue;
    font-weight: bold;
}

.nav.navbar-nav li a {
    color: blue;
}

.container-header a {
    font-weight: bold;
}

.nav>li {
    display: inline-block;
    padding:20px
}

.nav>ul {
    display: inline-block;
}  

.active {
    color:white;
    font-weight: bold;
}
